.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline > h1{
    padding: 1rem 0;

}
  
.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    background-color: #81818133;
    padding: 2rem;
    border-radius: 5px;
    width: 50%;
}
  
.timeline-year {
    text-align: center;
    margin-right: 20px;
    color: #b69adb;
}
  
.start-year {
    font-weight: bold;
    margin-bottom: 5px;
}
  
.finish-year {
    font-style: italic;
}
  
.timeline-content {
    flex: 1;
}
  
.timeline-bullet {
    margin-bottom: 10px;
    font-size: 1.1rem;
}
  