   .header {
    background-color: #1a0b2e;
    box-shadow: 0 6px 22px -3px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    height: 7.06rem;
  }

  .logoIcon {
    padding-top: 1.5rem;
  }