.projectInfo{
    display: flex;
    justify-content: flex-end;
}

.projectInfo > div > h2{
    color: #CCD6F6;
    display: block;
    padding-top: 3rem;
    font-weight: 600;
    font-size: 34px;
}

.projectDescription{
    background-color: #668c993d;
    backdrop-filter: blur(40px);
    border-radius: 14px;
    padding: 1rem 2rem;
    width: 80%;
    margin-top: 4rem;
    font-size: 1.05rem;
}
.projectDescriptionfield{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (max-width: 480px) {
    .projectInfo{
        display: block;
    }

    .projectInfo > div > h2{
        font-size: 25px;
    }

    .projectDescriptionfield{
        align-items: center;
    }
    .projectDescription{
        padding: 0.9rem 0.9rem;
        width: 100%;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
  }