*{
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-top: 3rem;
}

.portfolio {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  text-align: left;
  color: #fff;
  font-family: Preahvihear;
  background: #11071F;
}

.portfolioContainer{
  width: 70%;
  margin: auto;
}